<div class="media-heading">
    <h3>
        {{name}}
    </h3>
</div>
<div class="media-body">
    <dl>
        <dt>Phone Number:</dt>
        <dd>{{phone}}</dd>
        <dt>Email:</dt>
        <dd>{{email}}</dd>
    </dl>
</div>
<div class="contact-btn-wrapper">
    <a href="#contacts/edit/{{id}}" class="edit-contact btn btn-outline"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
    <a href="#contacts/delete/{{id}}" class="delete-contact btn btn-outline">
        <span class="glyphicon glyphicon-trash"></span> Delete
    </a>
</div>
<hr/>