<h2 class="page-header text-center">{{#if isNew}} Create {{else}} Edit {{/if}} Contact</h2>
<form role="form" class="form-horizontal contact-form">
    <div class="form-group has-feedback form-group-name">
        <label class="col-sm-4 control-label">Full name:</label>

        <div class="col-sm-6">
            <input type="text" name="name" class="form-control contact-name-input" value="{{name}}">
            <small class="help-block"></small>
        </div>
    </div>
    <div class="form-group has-feedback form-group-email">
        <label class="col-sm-4 control-label">Email address:</label>

        <div class="col-sm-6">
            <input name="email" type="email" class="form-control contact-email-input" value="{{email}}">
            <small class="help-block"></small>
            <small data-error></small>
        </div>
    </div>
    <div class="form-group has-feedback form-group-phone">
        <label class="col-sm-4 control-label">Telephone number:</label>

        <div class="col-sm-6">
            <input name="phone" type="tel" class="form-control contact-phone-input" value="{{phone}}">
            <small class="help-block"></small>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <button type="submit" class="btn btn-outline btn-lg btn-block">Submit</button>
        </div>
        <div class="col-sm-3">
            <button class="btn-close-form btn btn-outline btn-lg btn-block">Cancel</button>
        </div>
    </div>
</form>