/**
 *  Custom styles   
 *
 *  Although this is a .less file, you don't
 *  need to write any less on it. less extension
 *  is required for @import to work.
 * */

body {
  margin: 0;
}

.bs-header {
  position: relative;
  padding: 30px 15px;
  font-size: 20px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #6f5499;
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image: linear-gradient(to bottom, #563d7c 0%, #6f5499 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  h1 {
    margin-top: 0;
    color: #fff;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  p {
    margin-bottom: 0;
    font-weight: 300;
    line-height: 1.4;
  }
}

.btn-outline {
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
  }
}

.contact-btn-wrapper {
  .btn {
    margin: 0 10px;
  }
  .edit-contact {
    margin-left: 0;
  }
}

.contact-name-search {
  width: 50%;
  margin: 0 auto;
}

.hide {
  display: none;
}

.media {
  margin: 0;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}